// Mobile
@media(max-width:767px){

}

@media(min-width:768px){}
@media(min-width:992px){}
@media(min-width:1200px){}


body {

}


header {
    text-align: center;
    display:flex;
    flex-flow: row wrap;
    background-color: indigo;
    padding:10px;
    margin-bottom: 10px;
    h1 {
        color:gold;
        transition: all 3s;

        &:hover {
            color:lightblue;
            font-size: 3em;
        }
    }
}

footer {
  background-color: black;
  text-align: center;
  color: #777;
}

@import 'passenger';
.searchHeader{
    display: none;
    background-color: rgba(0, 0, 0, 0.11);
    text-align: center;
    color: #171515;
    font-size: 1.5em;

}
.search-results{
    display: flex;
    flex-wrap: wrap;

}

.flightCard{
    background-color: #3476cb;
    width: 20em;
    height: 15em;
    margin: 3em;
    display: flex;
    flex-direction: column;
}
.departureDate{
  text-align: center;
}
.AvailableSeats{
  text-align: center;
}
.seatIcon{
    height: 50%;
    width: 50%;
    align-self: center;
}
 .bookItBtn{
    width: 34%;
    align-self: center;
    margin-top: 1em;

 }